<!DOCTYPE html>
<html>
	<head>
	  <title>Intimate Journeys</title>
	  <!-- Fonts -->
	  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Tangerine|Great+Vibes' rel='stylesheet' type='text/css'>
	  
	  <!-- jQuery Base -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

	  <!-- Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application'%>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<% if current_page?(controller: 'welcome') %>
		<% @back_image = "/imgs/orchid.jpg" %>
		<% else %>
		<% @back_image = "/imgs/bfly.jpg" %>
	<% end %>
	<body style="background-image: url(<%=@back_image%>);">
		<header>
			<div class="header-text">
				<h1>Intimate Journeys</h1>
			</div>
			<% if !current_page?(controller: 'welcome') %>
				<%= render "shared/nav" %>
			<% end %>	
		</header>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
